---
import Layout from "../layouts/Layout.astro";
import Item from "../components/Item.astro";
---

<Layout
  title="Ryan Furrer — Design Engineer"
  description="Online home of Ryan Furrer"
>
  <div class="space-y-8">
    <header class="space-y-4 px-2">
      <div>
        <h1 class="text-foreground">Ryan Furrer</h1>
        <p>Design Engineer at Pragma</p>
      </div>
      <div>
        <p>
          Irure aute elit nulla ea esse mollit laborum minim irure minim irure
          Lorem culpa enim. Lorem amet fugiat ex officia commodo commodo sit in
          reprehenderit qui excepteur quis. Eu sunt dolor esse ea consectetur
          Lorem eiusmod. Ea deserunt laboris qui sunt incididunt occaecat irure
          sint dolore labore reprehenderit voluptate. Nostrud voluptate
          reprehenderit eiusmod dolor. Adipisicing velit laboris consequat elit
          quis Lorem qui elit proident. Laboris nulla velit tempor fugiat nisi
          cupidatat sunt reprehenderit Lorem pariatur commodo. Aliqua occaecat
          ex consequat qui dolor.
        </p>
      </div>
      <div class="space-y-3">
        <p>find me elsewhere</p>
        <ul class="space-y-2">
          <li><a href="https://x.com/ryanfurrer">twittter/x</a></li>
          <li>
            <a href="https://www.linkedin.com/in/ryanfurrer/">linkedin</a>
          </li>
          <li><a href="https://github.com/ryanfurrer">github</a></li>
        </ul>
      </div>
    </header>
    <main class="space-y-8">
      <section class="space-y-4">
        <h2 class="px-2">writing</h2>
        <Item />
      </section>
    </main>
  </div>
</Layout>
