---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";

const LATEST_POSTS_QUERY = `*[
  _type == "post"
  && defined(slug.current)
]|order(publishedAt desc)[0...3]{_id, title, slug, publishedAt}`;

const latestPosts = await sanityClient.fetch<SanityDocument[]>(LATEST_POSTS_QUERY);
---

<Layout
  title="Ryan Furrer — Design Engineer"
  description="Online home of Ryan Furrer"
>
  <div class="space-y-8">
    <header class="space-y-4 px-2">
      <div>
        <h1 class="text-foreground">Ryan Furrer</h1>
        <p>Design Engineer at Pragma</p>
      </div>
      <div>
        <p>
          Irure aute elit nulla ea esse mollit laborum minim irure minim irure
          Lorem culpa enim. Lorem amet fugiat ex officia commodo commodo sit in
          <a href="#">reprehenderit</a> qui excepteur quis. Eu sunt dolor esse ea
          consectetur Lorem eiusmod. Ea deserunt laboris qui sunt incididunt occaecat
          irure sint dolore labore reprehenderit voluptate. Nostrud voluptate reprehenderit
          eiusmod dolor. Adipisicing velit laboris consequat elit quis Lorem qui elit
          proident. Laboris nulla velit tempor fugiat nisi cupidatat sunt reprehenderit
          Lorem pariatur commodo. Aliqua occaecat ex consequat qui dolor.
        </p>
      </div>
      <div class="space-y-3">
        <p>find me elsewhere</p>
        <ul class="space-y-2">
          <li><a href="https://x.com/ryanfurrer">twittter/x</a></li>
          <li>
            <a href="https://www.linkedin.com/in/ryanfurrer/">linkedin</a>
          </li>
          <li><a href="https://github.com/ryanfurrer">github</a></li>
        </ul>
      </div>
    </header>
    <main class="space-y-8">
      <section class="space-y-4">
        <h2 class="px-2">writing</h2>
        <ul class="space-y-2">
          {
            latestPosts.map((post) => (
              <li>
                <a
                  href={`/writing/${post.slug.current}`}
                  class="block rounded-md border border-transparent px-2 py-1 transition-all hover:border-border hover:bg-card hover:text-foreground"
                >
                  <div class="flex w-full items-center justify-between gap-4">
                    <div class="w-fit">
                      <h3>{post.title}</h3>
                    </div>
                    <div class="w-full flex-1 border-b"></div>
                    <div
                      class="w-fit font-mono text-sm font-thin tracking-[-0.03em] tabular-nums"
                    >
                      <span>
                        {new Date(post.publishedAt).toLocaleDateString("en-US", {
                          year: "numeric",
                          month: "2-digit",
                          day: "2-digit",
                        }).replace(/\//g, ".")}
                      </span>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </div>
</Layout>
