---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Ryan Furrer — Design Engineer"
  description="Online home of Ryan Furrer"
>
  <header>
    <h1>Ryan Furrer</h1>
    <p>Design Engineer at Pragma</p>
    <p class="font-mono tabular-nums">2025.12.15</p>
  </header>
  <main>
    <h2>About</h2>
    <p>
      I'm a design engineer at Pragma. I'm a full-stack developer and I'm
      passionate about building user-friendly and efficient web applications.
    </p>
    <a href="/posts">Posts</a>
  </main>
</Layout>
