---
import { formatDateDotNotation } from "../utils/date";
import Tag from "./Tag.astro";

interface Props {
  title: string;
  href: string;
  publishedAt?: string;
  techStack?: string[];
}

const { title, href, publishedAt, techStack } = Astro.props;

const formattedDate = publishedAt ? formatDateDotNotation(publishedAt) : null;
---

<a
  href={href}
  data-dir-hover="item"
  class="group block rounded-md border border-transparent py-1 no-underline transition-all hover:text-foreground md:p-2"
>
  <div class="w-full items-center justify-between gap-4 md:flex">
    <div class="w-fit text-foreground md:text-foreground-muted">
      <h3 class="transition-colors group-hover:text-foreground">{title}</h3>
    </div>
    <div class="hidden min-w-4 flex-1 border-b md:block"></div>
    {
      techStack && techStack.length > 0 ? (
        <>
          <div class="flex items-center gap-1">
            {techStack.map((tech) => (
              <Tag label={tech} />
            ))}
          </div>
        </>
      ) : (
        formattedDate && (
          <div class="custom-font-mono w-fit">
            <span class="transition-colors group-hover:text-foreground">
              {formattedDate}
            </span>
          </div>
        )
      )
    }
  </div>
</a>
