---
import logo from "@/assets/logo.svg";

const navItems = [
  {
    label: "Writing",
    href: "/writing",
  },
  {
    label: "Work",
    href: "/work",
  },
  {
    label: "Appearances",
    href: "/appearances",
  },
];
---

<nav class="mb-16 md:px-2">
  <div class="flex items-center justify-between">
    <a
      href="/"
      name="go to home page"
      class="transition-all hover:saturate-100 focus:saturate-100 md:saturate-70"
      ><img src={logo.src} alt="Ryan Furrer" class="size-8" /></a
    >
    <ul class="flex gap-4 text-sm">
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              name={`go to ${item.label.toLowerCase()} page`}
              class="text-color-hover font-medium focus:text-foreground"
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
