---
const navItems = [
  {
    label: "writing",
    href: "/",
  },
  {
    label: "projects",
    href: "/posts",
  },
  {
    label: "engagements",
    href: "/posts",
  },
];
---

<nav class="mb-8 px-2">
  <div class="flex items-center justify-between">
    <a
      href="/"
      class="font-semibold text-foreground transition-colors hover:text-primary"
      >RF</a
    >
    <ul class="flex gap-6">
      {
        navItems.map((item) => (
          <li>
            <a href={item.href} class="transition-colors hover:text-foreground">
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
