---
const navItems = [
  {
    label: "Writing",
    href: "/writing",
  },
  {
    label: "Projects",
    href: "/projects",
  },
  {
    label: "Appearances",
    href: "/appearances",
  },
];
---

<nav class="mb-8 md:px-2">
  <div class="flex items-center justify-between">
    <a
      href="/"
      class="font-semibold text-foreground transition-colors hover:text-primary"
      >RF</a
    >
    <ul class="flex gap-4 text-sm">
      {
        navItems.map((item) => (
          <li>
            <a href={item.href} class="text-color-hover">
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
