---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Now" description="What I'm doing now">
  <div class="space-y-8">
    <header class="px-2">
      <h1>now</h1>
    </header>
    <main>
      <p class="px-2">
        Mollit ex eiusmod excepteur irure minim proident ipsum fugiat magna
        cillum esse officia et. Ipsum magna officia incididunt ut reprehenderit
        consectetur ullamco magna dolore excepteur ad dolor duis deserunt.
        Mollit laboris nostrud ut veniam sit enim enim ut consequat id do aliqua
        labore proident ea. Anim occaecat ipsum commodo proident quis qui aute
        sit amet qui officia. Nostrud excepteur pariatur occaecat aute irure
        tempor ad non. Voluptate sint ullamco ex fugiat irure magna adipisicing.
        Sint ex aliquip pariatur ut. Fugiat pariatur nisi nulla nulla id
        deserunt dolor sunt labore.
      </p>
    </main>
  </div>
</Layout>
