---
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const { title = "Ryan Furrer", description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
	</head>
	<body class="antialiased max-w-3xl mx-auto py-8 px-4 lg:px-0">
		<slot />
	</body>
</html>