---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Ryan Furrer", description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body
    class="mx-auto max-w-2xl space-y-16 bg-background px-4 py-8 text-foreground-muted antialiased lg:px-0"
  >
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
